extends layout
block content
 h1= title
 if (toShow == null)
   h2 No instance to delete
 else
  - let rollsroyceid = toShow._id
  - let rollsroyce_type = toShow.rollsroyce_type
  - let rollsroycecost = toShow.cost
  - let rollsroycemodel = toShow.model
  - let actionid = "/resource/resource/rollsroyces/" + rollsroyceid
  script let actionid = "#{actionid}"
  div
    div.row
     div(class='rollsroyceAttr mr-3') rollsroyce ID is:
     div #{rollsroyceid}
    div.row
     div(class='rollsroyceAttr mr-3') rollsroyce type is:
     div #{rollsroyce_type}
    div.row
     div(class='rollsroyceAttr mr-3') rollsroyce model is:
     div #{rollsroycemodel}
    div.row
     div(class='rollsroyceAttr mr-3') rollsroyce cost is:
     div #{rollsroycecost}
 button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
 button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
  // Go back to the home page for the apples collection
  window.location.href='/rollsroyce'
  }
 script.
  function deleteOnid() {
   console.log("starting delete")
   // delete first
   fetch(actionid, {
   method: 'DELETE' // Don't need a body for the delete
   }).then((resp) => {
   return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
   alert("Delete succeded")
   window.location.href='/rollsroyce'
   // TODO handle body
   }).catch((error) => {
   // TODO handle error
   alert("Delete failed " + error )
   });
  }