block content
  h1= title

  - let items = results; 

  - let o;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
    } 
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination1 = `dispatch(\"/rollsroyce/update?id=${item._id}\")` 
        - let destination2 = `dispatch(\"/rollsroyce/delete?id=${item._id}\")`
        - let destination3 = `dispatch(\"/rollsroyce/detail?id=${item._id}\")`
        div(class="row-sm-2" class="m-1") Item #{item.rollsroyce_type}(#{item.model}) is #{item.cost} 
          button.btn( class="btn-primary ml-1", onclick= destination1) Update 
          button.btn( class="btn-secondary", onclick= destination2) Delete
          button.btn( class="btn-warning", onclick= destination3) View
script. 
  function dispatch(path){ 
    window.location.href=path 
  }